<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=localhost\SQLEXPRESS;Database=InternalSites;Trusted_Connection=True;MultipleActiveResultSets=true;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="BaseDirectory" value="C:\Proyecto\InternalSites" />
    <add key="SchemaDb" value="dbo" />
    <add key="NameSpaceProject" value="Internal" />
    <add key="TypeDatabase" value="0" />
    <add key="ModelViewIsWCF" value="true" />
  </appSettings>
</configuration>